<<<<<<< HEAD
.container {
  width: 1440px;
  height: 100vh;
  background-color: var(--input-bg);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_box {
  width: 450px;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  box-shadow: var(--shadow-box);
  padding: 30px;
}

.route_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.route_button_style {
  border: transparent;
  color: var(--dodgerblue);
}

.input_group {
  margin-bottom: 10px;
}

.error_text {
  min-height: 18px;
  font-size: 12px;
  color: var(--border-red);
  margin-top: 4px;
  transition: 0.2s;
}
=======
>>>>>>> 92d0c4977ad75ba94125ce3eb5d0b74a6f584033
