.wrapperP {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.password_input {
    width: 100%;
    height: 55px;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid #d1d1d1;
    padding: 5px 50px 5px 20px;
    font-size: 16px;
    outline: none;
    color: black;
}

.wrapperP.active .password_input {
    border-color: #38bdf8;
}

.labelP {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #b4b2b2;
    font-size: 16px;
    pointer-events: none;
    transition: 0.25s ease;
    background: #ededed;
    padding: 0 8px;
}

.labelP.active {
    top: 0px;
    left: 15px;
    font-size: 13px;
    color: #38bdf8;
}


.password_input.with_tools {
    padding-right: 95px;
}


.tools {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translate(12px, -50%);
    display: flex;
    align-items: center;
    gap: 10px;

    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease;
}

.tools.show {
    transform: translate(0, -50%);
    opacity: 1;
    pointer-events: auto;
}

/* buttons */

.tools button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.tools svg {
    width: 20px;
    height: 20px;
}

.tools svg path {
    fill: #d1d1d1;
    transition: 0.2s;
}

.wrapperP.active .tools svg path {
    fill: #38bdf8;
}

.tools button:hover svg path {
    opacity: 0.7;
}

/* divider line */

.tools_line {
    width: 1px;
    height: 22px;
    background: #d1d1d1;
    border-radius: 2px;
    transition: 0.2s;
}

.wrapperP.active .tools_line {
    background: #38bdf8;
}