.wrapperP {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.password_input {
    width: 100%;
    height: 55px;
    border-radius: 15px;
    background-color: var(--transparent);
    border: 2px solid var(--main-border);
    padding: 5px 50px 5px 20px;
    font-size: 16px;
    outline: none;
    color: var(--black);
}

.wrapperP.active .password_input {
    border-color: var(--primary);
}

.labelP {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--input-text);
    font-size: 16px;
    pointer-events: none;
    transition: 0.25s ease;
    background: var(--input-bg);
    padding: 0 8px;
}

.labelP.active {
    top: 0px;
    left: 15px;
    font-size: 13px;
    color: var(--primary);
}

.password_input.with_tools {
    padding-right: 95px;
}

.tools {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translate(12px, -50%);
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease;
}

.tools.show {
    transform: translate(0, -50%);
    opacity: 1;
    pointer-events: auto;
}


.tools button {
    background: var(--transparent);
    border: none;
    cursor: pointer;
    padding: 0;
}

.tools svg {
    width: 18px;
    height: 18px;
}

.tools svg path {
    fill: var(--main-border);
    transition: 0.2s;
}

.wrapperP.active .tools svg path {
    fill: var(--primary);
}

.tools button:hover svg path {
    opacity: 0.7;
}


.tools_line {
    width: 1px;
    height: 20px;
    background: var(--main-border);
    border-radius: 2px;
    transition: 0.2s;
    margin-left: 5;
}

.wrapperP.active .tools_line {
    background: var(--primary);
}

.wrapperP.error .password_input {
    border-color: var(--border-red);
}