.type_switch {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.type_btn {
    flex: 1;
    padding: 16px 12px;
    border-radius: 10px;
    border: 1px solid var(--main-border);
    background: var(--input-bg);
    cursor: pointer;
    font-weight: 600;
}

.type_btn.active {
    background: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}