.wrapperI {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.main_input {
  width: 100%;
  height: 55px;
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid var(--main-border);
  padding: 5px 50px 5px 20px;
  font-size: 16px;
  outline: none;
  color: var(--black);
}

.wrapperI.active .main_input {
  border-color: var(--primary);
}

.wrapperI .www {
  background-color: var(--black);
}

.clear_btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(30px, -50%);
  opacity: 0;
  background: var(--transparent);
  border: none;
  cursor: pointer;
  pointer-events: none;
  transition:
    transform 0.35s ease,
    opacity 0.25s ease;
}

.clear_btn.show {
  transform: translate(0, -50%);
  opacity: 1;
  pointer-events: auto;
}

.clear_btn.active svg path {
  fill: var(--primary);
}

.clear_btn:not(.active) svg path {
  fill: var(--main-border);
}

.clear_btn:hover svg path {
  opacity: 0.7;
}

.clear_btn svg {
  width: 20px;
  height: 20px;
}

.prefix {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%) scale(0.9);
  font-size: 16px;
  color: var(--black);
  opacity: 0;
  transition: 0.2s ease;
  pointer-events: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.divider {
  width: 1px;
  height: 24px;
  background: var(--black);
  border-radius: 2px;
  transform: scaleY(0.7);
  transition: 0.2s ease;
}

.prefix.show {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

.prefix.show .divider {
  transform: scaleY(1);
}

.main_input.with_prefix {
  padding-left: 75px;
}

.line {
  width: 2px;
  height: 35px;
  border: 1px solid var(--border-red);
  border-radius: 20px;
}


/* error style */
.wrapperI.error .main_input {
  border-color: var(--border-red);
}