.wrapperIP {
  width: 100%;
  height: 55px;
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid #d1d1d1;
  position: relative;
}

.wrapperIP.active {
  border: 2px solid #4fc3f7;
}

.wrapperIP.active .inputt {
  border-color: #38bdf8;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputt {
  width: 100%;
  height: 53px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 18px;
  border-radius: 15px;
  padding-left: 8px;
}

.closeButton {
  position: absolute;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  transform: translateX(10px);
  transition: all 0.25s ease;
}

.closeButton.show {
  opacity: 1;
  transform: translateX(0);
}

.closeButton.active svg path {
  fill: #38bdf8;
}

.closeButton:not(.active) svg path {
  fill: #d1d1d1;
}

.closeButton:hover svg path {
  opacity: 0.7;
}