.wrapperIP {
  width: 100%;
  height: 55px;
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid #d1d1d1;
  position: relative;
}

.wrapperIP.active {
  border: 2px solid #4fc3f7;
}

.wrapperIP.active .inputt {
  border-color: #38bdf8;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputt {
  width: 100%;
  height: 53px;
  background: transparent;
  border: none;
  outline: none;
  color: #38bdf8;
  font-size: 18px;
  border-radius: 15px;
  padding-left: 8px;
}