.wrapper {
  width: 100%;
  height: 70px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #262e3d;
  position: relative;
}

.wrapper.active {
  border: 2px solid #4fc3f7;
}

.wrapper.active .input {
  border-color: #38bdf8;
}

.label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.25s ease;
  background: #171c26;
  padding: 0 8px;
}

.label.active {
  top: 0px;
  font-size: 13px;
  color: #38bdf8;
}

.bottom_btn {
  width: 90%;
  height: 70px;
  background-color: transparent;
  color: #00beff;
  font-size: 20px;
  border: 1px solid #00beff;
  border-radius: 20px;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.prefix {
  color: #4fc3f7;
  font-size: 18px;
  opacity: 0;
  transform: translateX(-6px);
  transition: all 0.25s ease;
  margin-left: 15px;
}

.prefix.show {
  opacity: 1;
  transform: translateX(0);
}

.input {
  width: 100%;
  height: 70px;
  background: transparent;
  border: none;
  outline: none;
  color: #4fc3f7;
  font-size: 18px;
  border-radius: 20px;
}
