.wrapper {
  width: 100%;
  height: 70px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #262e3d;
  position: relative;
}

.wrapper.active {
  border: 2px solid #4fc3f7;
}

.wrapper.active .inputt {
  border-color: #38bdf8;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputt {
  width: 100%;
  height: 70px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  padding-left: 8px;
}