.wrapperI {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.main_input {
  width: 100%;
  height: 55px;
  border-radius: 15px;
  background-color: transparent;
  border: 2px solid #d1d1d1;
  padding: 5px 50px 5px 20px;
  font-size: 16px;
  outline: none;
  color: black;
}

.wrapperI.active .main_input {
  border-color: #38bdf8;
}

.wrapperI .www {
  background-color: black;
}

.clear_btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(16px, -50%);
  opacity: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  pointer-events: none;
  transition:
    transform 0.25s ease,
    opacity 0.2s ease;

}

.clear_btn.show {
  transform: translate(0, -50%);
  opacity: 1;
  pointer-events: auto;
}

.clear_btn.active svg path {
  fill: #38bdf8;
}

.clear_btn:not(.active) svg path {
  fill: #d1d1d1;
}

.clear_btn:hover svg path {
  opacity: 0.7;
}

.clear_btn svg {
  width: 20px;
  height: 20px;
}


.prefix {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%) scale(0.9);
  font-size: 16px;
  color: #000;
  opacity: 0;
  transition: 0.2s ease;
  pointer-events: none;
}

.prefix.show {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

.main_input.with_prefix {
  padding-left: 75px;
}

.line {
  width: 2px;
  height: 35px;
  border: 1px solid red;
  border-radius: 20px;
}