.wrapper {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    height: 70px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #262e3d;
    padding: 5 20;
    font-size: 16px;
    outline: none;
    color: white;
}

.wrapper.active .input {
    border-color: #38bdf8;
}

.label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    font-size: 16px;
    pointer-events: none;
    transition: 0.25s ease;
    background: #171C26;
    padding: 0 6px;
}

.label.active {
    top: 0px;
    font-size: 13px;
    color: #38bdf8;
}