.container {
    width: 1440px;
    height: 100vh;
    background-color: #171C26;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_box {
    width: 652px;
    height: 780px;
    border-radius: 20px;
    border: 3px solid #262E3D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.top_box {
    width: 100%;
    height: 85px;
    background-color: #262E3D;
    border-radius: 15 15 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 50 0 50;
}

.login_selected,
.register_selected {
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 20 100;
}

.register_selected {
    padding: 20 40;
}

.login_selected.active {
    color: #00BEFF;
}

.register_selected.active {
    color: #00BEFF;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 12;
    width: 310px;
    height: 7px;
    background: #00BEFF;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.underline.right {
    transform: translateX(310px);
}

.center_box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 25px 0px;
}

.role_select {
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #262E3D;
    padding: 10 0;
    border-radius: 15px;
}

.yuridik {
    width: 45%;
    height: 100%;
    background-color: transparent;
    border-radius: 15px;
    border: transparent;
    color: #FFFFFF;
    font-size: 18;
    cursor: pointer;
}

.jismoniy {
    width: 45%;
    height: 100%;
    background-color: transparent;
    border-radius: 15px;
    border: transparent;
    color: #fff;
    font-size: 18;
    cursor: pointer;
}

.primary {
    background-color: #00BEFF;
}



.yuridik_grid {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    margin-bottom: 93px;
}

.yuridik_inputs {
    height: 70px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #262E3D;
    padding: 5 20;
    font-size: 16px;
    outline: none;
    color: white;
}

.forma {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 22px;
}

.inputs {
    width: 100%;
    height: 70px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #262E3D;
    padding: 5 20;
    font-size: 16px;
    outline: none;
    color: white;
}

.bottom_btn {
    width: 90%;
    height: 70px;
    color: #00BEFF;
    font-size: 20px;
    border: 1px solid #00BEFF;
    border-radius: 20px;
}



.bottom_btn.back {
    background-color: #00BEFF;
    color: #FFFFFF;
}