.container {
  width: 1440px;
  height: 100vh;
  background-color: #171c26;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 652px;
  height: 780px;
  border-radius: 20px;
  border: 3px solid #262e3d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  height: 85px;
  background-color: #262e3d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15 15 0 0;
}
.inputBox {
  width: 100%;
  height: 696px;
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 20px 20px;
}
.buttonBox {
  width: 100%;
  height: 70px;
  border: 1px solid #00beff;
  display: flex;
  justify-content: center;
  bottom: 20;
  color: #00beff;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}
.buttonBox.primary {
  background-color: #00beff;
  color: #ffff;
  cursor: pointer;
}
