.wrapper {
    width: 100%;
    height: auto;
    position: relative;
}

.box {
    width: 100%;
    height: 70px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #262e3d;
    padding: 5px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.box.open {
    border-radius: 20 20 0 0;
}

.selected {
    border: 2px solid #00BEFF;
}

.labell {
    color: #ffffff;
    font-size: 16px;
}


.options {
    width: 100%;
    min-height: 0px;
    background-color: #262e3d;
    position: absolute;
    z-index: 1;
    top: 70px;
    border-radius: 0 0 20 20;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.options.open {
    max-height: 277px;
    opacity: 1;
    visibility: visible;
    border: 2px solid #262e3d;
    border-top: none;
    overflow-y: scroll;
}

.options.open::-webkit-scrollbar {
    width: 0;
}

.option-item {
    padding: 15px 20px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.option-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.option-item:last-child {
    border-bottom: none;
}