.label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--input-text);
    font-size: 16px;
    pointer-events: none;
    transition: 0.25s ease;
    background: var(--input-bg);
    padding: 0 8px;
}

.label.active {
    top: 0px;
    left: 15px;
    font-size: 13px;
    color: var(--primary);
}

.bottom_btn {
    width: 90%;
    height: 70px;
    background-color: var(--transparent);
    color: var(--primary);
    font-size: 20px;
    border: 1px solid var(--primary);
    border-radius: 20px;
}

.closeButton {
    position: absolute;
    right: 16px;
    opacity: 0;
    transform: translateX(20px);
    pointer-events: none;
    transition: all 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
}

.closeButton.show {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}