.label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    font-size: 16px;
    pointer-events: none;
    transition: 0.25s ease;
    background: #ededed;
    padding: 0 8px;
}

.label.active {
    top: 0px;
    left: 15px;
    font-size: 13px;
    color: #38bdf8;
}

.bottom_btn {
    width: 90%;
    height: 70px;
    background-color: transparent;
    color: #00BEFF;
    font-size: 20px;
    border: 1px solid #00BEFF;
    border-radius: 20px;
}

.closeButton {
    position: absolute;
    right: 16px;
    opacity: 0;
    transform: translateX(20px);
    pointer-events: none;
    transition: all 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
}

.closeButton.show {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.close {
    color: #4fc3f7;
}

.prefix {
    color: #4fc3f7;
    font-size: 18px;
    opacity: 0;
    transform: translateX(-6px);
    transition: all 0.25s ease;
    margin-left: 15px;
}

.prefix.show {
    opacity: 1;
    transform: translateX(0);
}

.login_title {
    font-size: 32px;
    color: #000000;
}