.container {
  width: 1440px;
  height: 100vh;
  background-color: #171c26;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_box {
  width: 652px;
  height: 780px;
  border-radius: 20px;
  border: 3px solid #262e3d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top_box {
  width: 100%;
  height: 85px;
  background-color: #262e3d;
  border-radius: 15 15 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 50 0 50;
}

.login_selected,
.register_selected {
  color: #ffffff;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 20 100;
}

.register_selected {
  padding: 20 40;
}

.login_selected.active {
  color: #00beff;
}

.register_selected.active {
  color: #00beff;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 12;
  width: 310px;
  height: 7px;
  background: #00beff;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.underline.right {
  transform: translateX(310px);
}

.bottom_box {
  width: 100%;
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20 0;
}

.forma {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
  padding: 0 20;
  position: relative;
}

.inputs {
  width: 90%;
  height: 70px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #262e3d;
  padding: 5 20;
  font-size: 16px;
  outline: none;
  color: white;
}

.buton {
  position: absolute;
  top: 190px;
  right: 20px;
  background: none;
  border: none;
  color: #00beff;
  font-size: 15px;
}

.bottom_btn {
  width: 90%;
  height: 70px;
  color: #00BEFF;
  font-size: 20px;
  border: 1px solid #00BEFF;
  border-radius: 20px;
  background-color: transparent;
}