<<<<<<< HEAD
.container {
    width: 1440px;
    height: 100vh;
    background-color: var(--input-bg);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_box {
    width: 450px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-shadow: var(--shadow-box);
    padding: 30px;
}

=======
>>>>>>> 92d0c4977ad75ba94125ce3eb5d0b74a6f584033
.role_switch {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.role_btn {
    flex: 1;
    padding: 16px 12px;
    border-radius: 10px;
    border: 1px solid var(--main-border);
    background: var(--input-bg);
    cursor: pointer;
    font-weight: 600;
}

.role_btn.active {
    background: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}

.default_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
<<<<<<< HEAD
}

.route_bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.route_button_style {
    border: var(--transparent);
    color: var(--primary);
    text-align: center;
}

.input_group {
    margin-bottom: 10px;
}

.error_text {
    font-size: 12px;
    color: var(--border-red);
    transition: 0.2s;
    margin-top: 5px;
=======
>>>>>>> 92d0c4977ad75ba94125ce3eb5d0b74a6f584033
}