.seller_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roleBox {
    margin-top: -5px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.roleItem {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.seller_form_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seller_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.seller_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.input_group {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form_button_container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.error_text {
    font-size: 12px;
    color: #ff4d4f !important;
    margin-top: 4px;
    transition: 0.2s;
}

.error_text:not(:empty) {
    color: #ff4d4f !important;
}

.form_button_container button {
    width: 100%;
}