.seller_wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
.seller_wrappers {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}