.container {
    width: 1440px;
    height: 100vh;
    background-color: var(--input-bg);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_box {
    width: 450px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-shadow: var(--shadow-box);
    padding: 30px;
}


.default_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.route_bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.route_button_style {
    border: var(--transparent);
    color: var(--dodgerblue);
    text-align: center;
}

.acc {
    color: var(--black);
}

.input_group {
    margin-bottom: 10px;
}

.error_text {
    font-size: 12px;
    color: var(--border-red);
    transition: 0.2s;
    margin-top: 5px;
}