.role_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.inputBox {
    position: relative;
    width: 100%;
    height: 55px;
    border: 2px solid var(--main-border);
    border-radius: 15px;
    background: var(--white);
    display: flex;
    align-items: center;
}

.inputBox:focus-within {
    border-color: var(--primary);
}

.inputBoxError {
    border-color: var(--border-red);
}

.input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: var(--input-bg);
    border-radius: 13px;
    font-size: 16px;
    padding: 0 40px 0 15px;
    cursor: pointer;
}

.label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--input-text);
    pointer-events: none;
    background: var(--input-bg);
    padding: 0 6px;
    border-radius: 10px;
    transition: 0.18s ease;
}

.input:focus+.label,
.input:not(:placeholder-shown)+.label {
    top: 0;
    font-size: 13px;
    color: var(--primary);
}

.arrow {
    position: absolute;
    right: 14px;
    font-size: 28px;
    color: var(--input-text);
    pointer-events: none;
    transition: transform 0.2s ease;
}

.arrowOpen {
    transform: rotate(180deg);
}

.dropdown {
    position: absolute;
    top: 56px;
    left: -2;
    width: 102%;
    background: var(--input-bg);
    border: 1px solid var(--input-text);
    border-radius: 15px;
    z-index: 20;
    overflow: hidden;
    box-shadow: var(--shadow-drop);
}

.option {
    padding: 14px;
    font-size: 15px;
    cursor: pointer;
}

.option:hover {
    background: var(--select-hover);
}

.error {
    font-size: 12px;
    color: var(--border-red);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-6px);
    transition: 0.3s ease;
}

.errorOpen {
    max-height: 40px;
    opacity: 1;
    transform: translateY(0);
}

.errorClose {
    max-height: 0;
    opacity: 0;
}