.container {
    width: 1440px;
    height: 100vh;
    background-color: var(--input-bg);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_box {
    width: 450px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-shadow: var(--shadow-box);
    padding: 30px;
}

.login_title {
    font-size: 26px;
}

.route_bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.route_button_style {
    border: var(--transparent);
    color: var(--dodgerblue);
}

.input_group {
    margin-bottom: 10px;
}

.error_text {
    min-height: 18px;
    font-size: 12px;
    color: var(--border-red);
    margin-top: 4px;
    transition: 0.2s;
}

.sms_button_container {
    width: 100%;
    margin-top: 6px;
}

.sms_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}