.wrapperI {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.main_input {
    width: 100%;
    height: 55px;
    border-radius: 15px;
    background-color: var(--transparent);
    border: 2px solid var(--main-border);
    padding: 5px 50px 5px 20px;
    font-size: 16px;
    outline: none;
    color: var(--black);
}

.wrapperI.active .main_input {
    border-color: var(--primary);
}

.wrapperI .www {
    background-color: var(--black);
}

.clear_btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(16px, -50%);
    opacity: 0;
    background: var(--transparent);
    border: none;
    cursor: pointer;
    pointer-events: none;
    transition:
        transform 0.25s ease,
        opacity 0.2s ease;

}

.clear_btn.show {
    transform: translate(0, -50%);
    opacity: 1;
    pointer-events: auto;
}

.clear_btn.active svg path {
    fill: var(--primary);
}

.clear_btn:not(.active) svg path {
    fill: var(--main-border);
}

.clear_btn:hover svg path {
    opacity: 0.7;
}

.clear_btn svg {
    width: 20px;
    height: 20px;
}

.wrapperI.error .main_input {
    border-color: var(--border-red);
}