.wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

.input {
    width: 100%;
    height: 70px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #262e3d;
    padding: 5 20;
    font-size: 16px;
    outline: none;
    color: white;
}

.wrapper.active .input {
    border-color: #38bdf8;
}

.label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 16px;
    pointer-events: none;
    transition: 0.25s ease;
    background: #171C26;
    padding: 0 8px;
}

.label.active {
    top: 0px;
    font-size: 13px;
    color: #38bdf8;
}


.bottom_btn {
    width: 90%;
    height: 70px;
    background-color: transparent;
    color: #00BEFF;
    font-size: 20px;
    border: 1px solid #00BEFF;
    border-radius: 20px;
}

.input.error {
    border-color: #ff4d4f;
}

.error_text {
    color: #ff4d4f;
    font-size: 12px;
    margin-top: 4px;
}